@mixin flex($direction, $align_items, $justify_content: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align_items;
    justify-content: $justify_content;
}

@mixin size($width: 100%, $height: inherit, $min_height: inherit) {
    width: $width;
    height: $height;
    min-height: $min_height;
}

@mixin border($height, $type, $color, $radius) {
    border: $height $type $color;
    border-radius: $radius;
}
