.sign-up {
    margin: 30px auto;
    width: 80%;

    div {
        margin: 20px 0;
    }

    &__btn {
        display: block;
        margin: 30px auto;
        width: 50%;
    }

    p {
        text-align: center;
    }

}
